POSTGRES_USER_DB=XXXX
POSTGRES_USER_USER=XXXX
POSTGRES_USER_PASSWORD=XXX

POSTGRES_RECIPE_DB=XXXX
POSTGRES_RECIPE_USER=XXXX
POSTGRES_RECIPE_PASSWORD=XXXX

POSTGRES_MENU_DB=XXX
POSTGRES_MENU_USER=XXX
POSTGRES_MENU_PASSWORD=XXX

POSTGRES_CRAWLER_DB=XXXX
POSTGRES_CRAWLER_USER=XXXXX
POSTGRES_CRAWLER_PASSWORD=XXXXX

MINIO_ROOT_USER=XXXX
MINIO_ROOT_PASSWORD=XXXXX

POSTGRES_NOTIFICATION_DB=XXXX
POSTGRES_NOTIFICATION_USER=XXXX
POSTGRES_NOTIFICATION_PASSWORD=XXXXX