#  Environnements virtuels
.venv/
venv/
env/

#  Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

#  Packaging
build/
dist/
*.egg-info/

#  Tests / coverage
.coverage
htmlcov/
.pytest_cache/
coverage.xml

#  IDE
.idea/
.vscode/
*.code-workspace
#  Fichiers d'environnement (secrets)
.env
.env.*
!.env.example
!.env.*.example
.secrets
#  Dumps Postgres (données + hash de mots de passe) — jamais versionnés
postgres/dump/
#  Docker (optionnel si tu en as)
*.log
docker-compose.override.yml

#tests ci
bin/

#  OS
.DS_Store
Thumbs.db

# Celery Beat
celerybeat-schedule
celerybeat.pid

#local ci
ci-local*
bandit*

#front
frontend/

#data to import
*.json
