DATABASE_URL=postgresql+asyncpg://nutri_user:nutri_pass@localhost:5438/nutri_db
DEBUG=false
JWT_SECRET=change-me-in-production
ELASTICSEARCH_URL=http://elasticsearch:9200
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
GROQ_API_KEY=your-groq-api-key
NUTRITIONIX_BASE_URL=https://trackapi.nutritionix.com/v2
NUTRITIONIX_APP_ID=your-app-id
NUTRITIONIX_API_KEY=your-api-key
CIQUAL_CSV_PATH=/app/data/ciqual.csv
SERVICE_NUTRITION_TOKEN=change-me-internal-token
SERVICE_NOTIFICATION_URL=http://service-notification:8006
SERVICE_NOTIFICATION_TOKEN=change-me-internal-token

CIQUAL_DOWNLOAD_URL=https://ciqual.anses.fr/cms/sites/default/files/inline-files/2025_11_03.7z

