DEBUG=True

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/nutri_menu

SERVICE_USER_URL=http://service-user:8000
SERVICE_RECIPE_URL=http://service-user:8000

JWT_SECRET=on_teste_une_cle
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=30