SERVICE_USER_URL=http://service-user:8000
ELASTICSEARCH_URL=http://elasticsearch:9200
ELASTICSEARCH_INDEX_RECIPES=recipes

# Unsplash (recherche d'images de recettes). ACCESS_KEY suffit pour la recherche.
UNSPLASH_ACCESS_KEY=
UNSPLASH_SECRET_KEY=
UNSPLASH_API_URL=https://api.unsplash.com